/* Baseline styles */
.aboutContainer {
  padding: 0 20px;
  background-color: #f7f7f7;
  text-align: center;
}

.headline {
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #333;
}

.aboutImage {
  position: relative;
  width: 300px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  
}

/* Smaller screens (768px and above) */
@media (min-width: 768px) {
  .aboutContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 40px;
    margin: 0 auto;
    align-items: start;
  }

  .headline {
    font-size: 32px;
    grid-column: 1 / -1;
    text-align: left;
  }

  .missionStatement,
  .teamText,
  .seoBackground {
    text-align: left;
  }

  .teamIntroduction {
    grid-column: 1 / -1;
    margin-bottom: 0;
    position: relative;
  }
  .aboutImage {
    position: relative;
    width: 400px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    
  }
  .teamImage {
    max-width: 100%;
    margin-bottom: 0;
  }

  .teamText {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 20px;
    width: 500px;
  }

  .learnMoreLink {
    margin-top: 0;
  }
}

/* Laptops (1024px and above) */
@media (min-width: 1024px) {
  .headline {
    font-size: 36px;
  }

  .missionStatement,
  .seoBackground {
    font-size: 20px;
  }

  .teamText {
    font-size: 18px;
  }
}

/* Extra wide screens (1440px and above) */
@media (min-width: 1440px) {
  .aboutContainer {
    grid-template-columns: repeat(3, 1fr); /* Adjust columns for wider layout */
    gap: 80px; /* Increase gap for better breathing room */
    padding: 80px; /* Increase padding for spaciousness */
  }

  .headline {
    grid-column: 1 / 2; /* Span two columns for wider headline on extra wide screens */
  
  }

  .teamIntroduction {
    grid-column: 2 / -1; /* Place image section in the center column */
  }

  .missionStatement,
  .teamText,
  .seoBackground {
    line-height: 1.8; /* Increase line-height for improved readability */
    letter-spacing: 0.05em;
  }

 

  .learnMoreLink {
    padding: 15px 30px; /* Increase padding for better visibility */
    font-size: 16px; /* Maintain consistent font size */
  }
}
