.html1 {
  scroll-behavior: smooth;
}
.body1 {
    margin: 0;
    padding: 0;
    /* You may also want to ensure the width and height take up the full viewport size */
    width: 100%;
    height: 100%;
    /* Other styles such as box-sizing can be included here too */
        
  }
  
    

 