/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/styles/aboutSection.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.aboutSection_aboutContainer__k1odA {
  padding: 0 20px; /* Added padding on the sides */
  background-color: #f7f7f7;
  text-align: center; /* Centered text alignment */
}

.aboutSection_headline__vseKZ {
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.aboutSection_missionStatement__c2pjx {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px; /* Increased font size for mobile readability */
  line-height: 1.6;
  color: #666;
}

.aboutSection_teamIntroduction__robwK {
  margin-bottom: 20px;
}

.aboutSection_teamImage__m_eB7 {
  max-width: 100%; /* Ensure image is responsive */
  height: auto;
  display: block; /* Image block display */
  border-radius: 8px;
  margin-bottom: 20px; /* Space below the image */
}

.aboutSection_teamText__c0597 {
  font-size: 16px; /* Adjusted font size for readability */
  margin-bottom: 20px; /* Space below the team text */
}

.aboutSection_seoBackground__Aqeko {
  font-size: 16px;
  line-height: 1.6; /* Improved line-height for readability */
  margin-bottom: 30px; /* Adjusted bottom margin for CTA */
}

.aboutSection_learnMoreLink__clqOP {
  color: #0056b3;
  font-weight: bold;
  text-decoration: none; /* Removed underline */
  padding: 10px 20px; /* Adjusted padding for a button-like appearance */
  display: inline-block; /* Inline block for padding and background */
  border-radius: 4px;
  background-color: #e7f5ff; /* Light blue background for the CTA */
  margin-top: 20px; /* Added top margin for CTA */
}

/* Larger screen adjustments */
@media (min-width: 768px) {
  .aboutSection_aboutContainer__k1odA {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    gap: 40px;
    padding: 40px;
  }

  .aboutSection_headline__vseKZ {
    font-size: 32px;
    grid-column: 1 / -1;
    text-align: left; /* Align text to the left on larger screens */
  }

  /* Left-align the text for larger screens */
  .aboutSection_missionStatement__c2pjx,
  .aboutSection_teamText__c0597,
  .aboutSection_seoBackground__Aqeko {
    text-align: left;
  }

  .aboutSection_teamIntroduction__robwK {
    grid-column: 1 / -1;
  }
}

@media (min-width: 1024px) {
  .aboutSection_headline__vseKZ {
    font-size: 36px; /* Larger font size for larger screens */
  }
  .aboutSection_missionStatement__c2pjx,
  .aboutSection_seoBackground__Aqeko {
    font-size: 20px; /* Larger font size for larger screens */
  }
  .aboutSection_teamText__c0597 {
    font-size: 18px; /* Larger font size for larger screens */
  }
}

/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/styles/about.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.about_about__5mE99 {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}
